In [14]:
import pandas as pd 
import numpy as np
from tqdm import tqdm

data = pd.read_csv(r"C:\Users\Ashnv\OneDrive\Documents\DataViz Project\dataviz\pages\data\processed_data_v2.csv")

In [15]:
def compute_total_time(start_times, end_times):

    # change the str to datetime obj in the Series
    # start_times = start_times.apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
    # end_times = end_times.apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
    
    diff_time = (end_times - start_times).sum()
    return diff_time

In [16]:
def get_prod(df):
    out = 0 
    product = df[df.activity_type == "work"]
    out = compute_total_time(product["start_time"], product["end_time"])

    # print(out)
    if out == 0:
        return 0 
    else:
        return np.log(1 + (600 / ( 10 + out.total_seconds())))
        # return 1/out.total_seconds()

In [45]:
all_users = list(set(data["user_id"]))
print(len(all_users))

78

In [17]:
data["start_time"] = pd.to_datetime(data["start_time"])
data["end_time"] = pd.to_datetime(data["end_time"])
data["date"] = data["start_time"].dt.date

productivities = {}
avg_prod = {}
# print(sorted(list(set(df.date))))
all_users = list(set(data["user_id"]))

for date in tqdm(sorted(list(set(data.date)))):

    user_prods = []
    for user in all_users:
        df = data.copy()
        df = df[df.user_id == user]
        if len(df[df["date"] == date]) == 0:
            continue
        user_prod = get_prod(df[df["date"] == date])
        user_prods.append(user_prod)
    # print(user_prods)
    if len(user_prods) == 0:
        avg_prod[date] = 0 
    else:
        avg_prod[date] = np.mean(user_prods)

prod_all = {"Date": avg_prod.keys(), "avg_prod_all": avg_prod.values()}
prod_all_df = pd.DataFrame(prod_all)
prod_all_df

100%|██████████| 21/21 [01:02<00:00,  2.98s/it]

In [34]:
data["start_time"] = pd.to_datetime(data["start_time"])
data["end_time"] = pd.to_datetime(data["end_time"])
data["date"] = data["start_time"].dt.date

productivities = {}
avg_prod = {}
# print(sorted(list(set(df.date))))
all_users = list(set(data["user_id"]))

for date in tqdm(sorted(list(set(data.date)))):

    user_prods = []
    for user in all_users:
        df = data.copy()
        df = df[df.user_id == user]
        if len(df[df["date"] == date]) == 0:
            continue
        user_prod = get_prod(df[df["date"] == date])
        user_prods.append(user_prod)
    # print(user_prods)
    if len(user_prods) == 0:
        avg_prod[date] = 0 
    else:
        avg_prod[date] = np.mean(user_prods)

prod_all = {"Date": avg_prod.keys(), "avg_prod_all": avg_prod.values()}
prod_all_df = pd.DataFrame(prod_all)
prod_all_df

100%|██████████| 21/21 [00:53<00:00,  2.53s/it]

          Date  avg_prod_all
0   2019-04-30      1.132677
1   2019-05-01      0.757398
2   2019-05-02      1.179494
3   2019-05-03      1.098225
4   2019-05-04      1.529988
5   2019-05-05      1.594695
6   2019-05-06      1.946352
7   2019-05-08      1.119589
8   2019-05-09      1.213338
9   2019-05-10      1.073389
10  2019-05-11      1.649589
11  2019-05-12      1.105295
12  2019-05-13      1.248393
13  2019-05-14      2.155500
14  2019-05-16      0.962390
15  2019-05-17      1.299445
16  2019-05-18      1.398494
17  2019-05-19      1.309430
18  2019-05-20      1.274218
19  2019-05-21      1.287678
20  2019-05-22      0.878191

In [31]:


data["start_time"] = pd.to_datetime(data["start_time"])
data["end_time"] = pd.to_datetime(data["end_time"])
data["date"] = data["start_time"].dt.date

productivities = {}
avg_prod = {}
# print(sorted(list(set(df.date))))
top_users = [701, 1526, 3007, 3005, 3003]
top_users = ["P" + str(user) for user in top_users]

for date in tqdm(sorted(list(set(data.date)))):

    user_prods = []
    for user in top_users:
        df = data.copy()
        df = df[df.user_id == user]
        if len(df[df["date"] == date]) == 0:
            continue
        user_prod = get_prod(df[df["date"] == date])
        user_prods.append(user_prod)
    # print(user_prods)
    if len(user_prods) == 0:
        avg_prod[date] = 0 
    else:
        avg_prod[date] = np.mean(user_prods)

prod_top = {"Date": avg_prod.keys(), "avg_prod_top": avg_prod.values()}
prod_top_df = pd.DataFrame(prod_top)
prod_top_df

100%|██████████| 21/21 [00:03<00:00,  5.97it/s]

          Date  avg_prod_top
0   2019-04-30      1.490947
1   2019-05-01      0.331457
2   2019-05-02      1.626094
3   2019-05-03      0.911018
4   2019-05-04      1.380258
5   2019-05-05      1.225178
6   2019-05-06      2.061729
7   2019-05-08      0.000000
8   2019-05-09      0.000000
9   2019-05-10      0.000000
10  2019-05-11      0.000000
11  2019-05-12      0.000000
12  2019-05-13      0.000000
13  2019-05-14      0.000000
14  2019-05-16      0.152611
15  2019-05-17      3.426277
16  2019-05-18      0.232051
17  2019-05-19      2.161078
18  2019-05-20      0.109067
19  2019-05-21      0.343212
20  2019-05-22      3.230857

In [32]:


data["start_time"] = pd.to_datetime(data["start_time"])
data["end_time"] = pd.to_datetime(data["end_time"])
data["date"] = data["start_time"].dt.date

productivities = {}
avg_prod = {}
# print(sorted(list(set(df.date))))
bottom_users = [728, 727, 726, 725, 3041]
bottom_users = ["P" + str(user) for user in top_users]

for date in tqdm(sorted(list(set(data.date)))):

    user_prods = []
    for user in bottom_users:
        df = data.copy()
        df = df[df.user_id == user]
        if len(df[df["date"] == date]) == 0:
            continue
        user_prod = get_prod(df[df["date"] == date])
        user_prods.append(user_prod)
    # print(user_prods)
    if len(user_prods) == 0:
        avg_prod[date] = 0 
    else:
        avg_prod[date] = np.mean(user_prods)

prod_bot = {"Date": avg_prod.keys(), "avg_prod_bot": avg_prod.values()}
prod_bot_df = pd.DataFrame(prod_bot)
prod_bot_df

100%|██████████| 21/21 [00:02<00:00,  8.83it/s]

          Date  avg_prod_bot
0   2019-04-30             0
1   2019-05-01             0
2   2019-05-02             0
3   2019-05-03             0
4   2019-05-04             0
5   2019-05-05             0
6   2019-05-06             0
7   2019-05-08             0
8   2019-05-09             0
9   2019-05-10             0
10  2019-05-11             0
11  2019-05-12             0
12  2019-05-13             0
13  2019-05-14             0
14  2019-05-16             0
15  2019-05-17             0
16  2019-05-18             0
17  2019-05-19             0
18  2019-05-20             0
19  2019-05-21             0
20  2019-05-22             0

In [44]:
merged = prod_all_df.merge(prod_top_df, on = "Date").merge(prod_bot_df, on = "Date")

merged
#WARNING - change this
merged.to_csv(r"C:\Users\Ashnv\OneDrive\Documents\DataViz Project\dataviz\pages\data\dataAVG_prod.csv", index = False)

In [43]:
merged

          Date  avg_prod_all  avg_prod_top  avg_prod_bot
0   2019-04-30      1.132677      1.490947             0
1   2019-05-01      0.757398      0.331457             0
2   2019-05-02      1.179494      1.626094             0
3   2019-05-03      1.098225      0.911018             0
4   2019-05-04      1.529988      1.380258             0
5   2019-05-05      1.594695      1.225178             0
6   2019-05-06      1.946352      2.061729             0
7   2019-05-08      1.119589      0.000000             0
8   2019-05-09      1.213338      0.000000             0
9   2019-05-10      1.073389      0.000000             0
10  2019-05-11      1.649589      0.000000             0
11  2019-05-12      1.105295      0.000000             0
12  2019-05-13      1.248393      0.000000             0
13  2019-05-14      2.155500      0.000000             0
14  2019-05-16      0.962390      0.152611             0
15  2019-05-17      1.299445      3.426277             0
16  2019-05-18      1.398494      0.232051             0
17  2019-05-19      1.309430      2.161078             0
18  2019-05-20      1.274218      0.109067             0
19  2019-05-21      1.287678      0.343212             0
20  2019-05-22      0.878191      3.230857             0